<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!--style-->
  <link rel="stylesheet" href="./assets/style/card.css">
</head>
<body>
  <div id="app">
    <div class="body-bg-all vh-100">
      <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img class="icon-bank" src="../web/assets/img/bank-icon-flat-529901-removebg-preview.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end container" id="navbarNav">
              <ul class="navbar-nav fw-bold me-5">
                <li class="nav-item">
                  <a class="nav-link text-nav hover-nav" href="./accounts.html">ACCOUNTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav hover-nav" href="#">CARDS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav hover-nav" href="./transfers.html">TRANSFERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav hover-nav" href="./loan-application.html">LOAN APPLICATION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav hover-nav" href="./posnet.html">POSTNET</a>
                </li>
              </ul>
            </div>
            <button @click="logOut" class="button-logOut">
              <img class="icon-logout" src="./assets/img/logout.png" alt="">
            </button>
          </div>
        </nav>
      </header>
      <div v-if="cards.length != 0" class="v-100 d-flex justify-content-center gap-3">
        <div class="bg-eyes text-center" :class="togle == false ? 'closeEyes' : 'showEyes'" @click="togleButton"></div>
        <div class="mt-2">
          <div class="engranaje-bg engranaje" data-bs-toggle="dropdown" aria-expanded="false"></div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Delete card</a></li>
          </ul>
        </div>
      </div>

      <!-- Modal delte account-->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Which account do you want to delete?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label v-for="card in cards" :for="card.id" class="d-flex justify-content-between gap-5 mt-2 border">
                <div>
                  <h5 class="fw-bold">{{card.cardHolder}}</h5>
                    <p class="fw-bold">{{card.number}}</p>
                    <p class="type-m">{{card.cardColor}}</p>
                </div>
                <input type="radio" class="me-5" name="deleteCard" :id="card.id" :value="card.number" v-model="cardDelete">
              </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="deleteCard" data-bs-dismiss="modal">Delete account</button>
            </div>
          </div>
        </div>
      </div>

      <main class="d-flex justify-content-center flex-wrap min-h">
        <div v-if="cards.length == 0" class="d-flex align-items-center fs-4 fw-bold text-center text-black-50">
          <p>You still have no cards</p>
        </div>
        <div class="card" v-for="card in cards" v-else>
          <div class="card__front card__part" :class="{'card__part_gold' : card.cardColor == 'GOLD', 'card__part_silver' : card.cardColor == 'SILVER', 'card__part_titanium' : card.cardColor == 'TITANIUM'}">
            <img class="card__front-square card__square" src="./assets/img/bank-icon-flat-529901-removebg-preview.png">
              <span v-if="card.fromDate <= dateNow" class=" badge text-bg-danger">This card is expired</span>
            <div class="card__front-logo card__logo"> 
              <p class="card__info mt-3">{{card.cardType == 'DEBIT' ? "DEBIT" : "CREDIT"}}</p>
            </div>
            <p class="card_numer pt-3">{{showNumber(card.number)}}</p>
            <div class="card__space-75">
              <span class="card__label">Card holder</span>
              <p class="card__info">{{card.cardHolder}}</p>
            </div>
            <div class="card__space-25">
              <span class="card__label">Expires</span>
              <p class="card__info">{{formattedCardDate(card.fromDate)}}</p>
            </div>
          </div>
          <div class="card__back card__part" :class="{'card__part_gold' : card.cardColor == 'GOLD', 'card__part_silver' : card.cardColor == 'SILVER', 'card__part_titanium' : card.cardColor == 'TITANIUM'}">
            <div class="card__black-line"></div>
            <div class="card__back-content">
              <div class="card__secret">
                <p class="card__secret--last">{{card.cvv}}</p>
              </div>
              <img class="card__back-square card__square">
              <div class="card__back-logo card__logo">
                <p class="card__info">{{card.cardColor}}</p>
              </div>
            </div>
          </div>
        </div>
      </main>
        <div class="border border-top-0 card-bg container d-flex flex-wrap w-100">
          <div class="d-flex flex-column justify-content-center col-xl-5 col-lg-12">
            <div class=" card-text gap-5">
              <h5 class="text-center">Would you like to have a new brand MHBrothers Card?</h5>
              <p class="">Find the right one for you</p>
              <ul>
                <li> Start with a credit limit of $200- $1500 </li>
                <li>Build your credit score over time</li>
                <li>Get up to two optional credi increases a year</li>
              </ul>
            </div>
            <div class="text-center">
              <div v-if="cards.length != 6">
                <a type="button" class="btn btn-primary w-100" href="./create-cards.html">Create card</a>
              </div>
              <div v-else>
                <a type="button" class="btn btn-primary-gost w-100" @click="alertMaxCard">Create card</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!-- vue -->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--sweetalert-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!--main-->
  <script src="./js/cards.js"></script>
</body>

</html>