.body-manager{
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn-primary{
    background-color: RGB(86, 71, 135);
    border: solid rgba(100, 81, 163, 0.375);
}

.btn-primary:hover{
    background-color: rgba(100, 81, 163, 0.987);
    border:solid rgba(105, 81, 184, 0.987);
}

.btn-primary-gost{
    background-color: rgb(128, 107, 195);
    color: white;
    border: solid 2px rgba(100, 81, 163, 0.622);
}

.btn-primary-gost:hover{
    background-color: rgb(128, 107, 195);
    border: solid 2px rgba(100, 81, 163, 0.622);
    color: white;
}

.form-manager{
    width: 500px;
    height: 470px;

    margin: 0px 10px;
}

.cont-form{
    border-radius: 1vw;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}


input,
option,
select {
	background-color: rgb(241, 252, 255);
    height: 7.2vh;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
    border-radius: .6rem;
}

.s{
    width: 100%;
}

.m-mar{
    margin-bottom: -0.1rem;
}


.bg-1{
    background-color: #f5f1fb;
  }

  .bg-2{
    background-color: rgb(202, 194, 244);
  }

  .cont-btn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 1rem;
  }

  .cont-btn:hover{
    background-color: rgb(189, 178, 249);;
  }

  .bg-transfer{
    background-image: url("../img/tranfers.jpg");
    background-repeat: no-repeat;
  }

@media (max-width : 990px){
    .text-nav{
        color: rgb(30, 28, 28);
    }
}